$color-titulos-h1-h2:#2D85E5;
$color-titulo-h4:#2D85E5;
$background-default:#EFEFEF;
$color-default:#12355B;
$text-color:#12355B;
$color-grid1: #3930B1;
$gradiente-azul: linear-gradient(to right, rgba(45,133,229, 0), rgba(45,133,229,1));
$link-hover:red;
$color-fila-titulos-tabla:#2D85E5;
$color-fondo-tipoa:#2D85E5;
$color-fondo-tipob:#FFAC44;
$tipografia:trebuchet;
$tipografiaotra: Open+sans-serif;
$is-red:red;